<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
		
	<context:annotation-config />
	
	<context:component-scan base-package="net.danielfreire.products.sso" />
	
	<jpa:repositories base-package="net.danielfreire.products.sso.model.repository" />
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"> 
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
			</bean>
		</property>
		<property name="persistenceXmlLocation" value="classpath:META-INF/jta-persistence.xml" />
		<property name="persistenceUnitName" value="persistenceUnitName"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
	</bean>
	
<!-- 	<bean id="dataSource" class = "com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"> -->
<!--         <property name="driverClass" value="com.mysql.jdbc.Driver" /> -->
<!--         <property name="jdbcUrl" value="jdbc:mysql://174.142.42.90:3306/portais" /> -->
<!--         <property name="user" value="appSso" /> -->
<!--         <property name="password" value="wJf54b" />  -->
 
<!--         <property name="acquireIncrement" value="30" /> -->
<!--         <property name="minPoolSize" value="1" /> -->
<!--         <property name="maxPoolSize" value="100" /> -->
<!--         <property name="maxIdleTime" value="3600" /> -->
<!--  	</bean> -->
 	
 	<jee:jndi-lookup id="dataSource" jndi-name="java:jndi/PortaisDS"></jee:jndi-lookup>

</beans>
