<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*" />
        
        <title>*|MC:SUBJECT|*</title>
	</head>
    <body style="width:100%!important;-webkit-text-size-adjust:none; margin:0;padding:0; background-color:#fafafa" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="height:100%!important;margin:0;padding:0;width:100%!important; background-color:#fafafa">
            	<tr>
                	<td style="border-collapse:collapse;   padding-top:20px;" align="center" valign="top">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border:1px solid #ddd; background-color:#fff">
                        	<tr>
                            	<td style="border-collapse:collapse" align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color:#fff;border-bottom:0">
                                        <tr>
                                            <td style="border-collapse:collapse;color:#202020;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle;    text-align: right" class="headerContent">
                                            
                                            	<img src="[logo.location]" alt="" style="margin: 20px;" style="border:0;height:auto;line-height:100%;outline:0;text-decoration:none" />
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td style="border-collapse:collapse" align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td style="border-collapse:collapse" valign="top">
                                
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="border-collapse:collapse; background-color:#fff" valign="top" class="bodyContent">
                                                            <div mc:edit="std_content00" style="color:#999;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
                                                                <h4 class="h4" style="color:#999;display:block;font-family:Arial;font-size:22px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">Cadastro [site.name]</h4>
                                                                Prezado(a) <strong>[client.name]</strong>, agradecemos o seu cadastro na [site.name].
                                                                <br />
                                                                <br />
                                                                Abaixo seguem seus dados cadastrados:
                                                            </div>
														</td>
                                                    </tr>
                                                    <tr>
                                                    	<td style="border-collapse:collapse;     padding-top:0; padding-bottom:0;" valign="top">
                                                          <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable" style="background-color:#fff;border:1px solid #ddd">
                                                              <tr>
                                                                  <th scope="col" valign="top" width="50%" class="dataTableHeading" mc:edit="data_table_heading00" style="background-color:#eee;color:#999;font-family:Helvetica;font-size:14px;font-weight:bold;line-height:150%;text-align:left">
                                                                    Usuário:
                                                                  </th>
                                                                  <th scope="col" valign="top" width="50%" class="dataTableHeading" mc:edit="data_table_heading01" style="background-color:#eee;color:#999;font-family:Helvetica;font-size:14px;font-weight:bold;line-height:150%;text-align:left">
                                                                    Senha:
                                                                  </th>
                                                              </tr>
                                                              <tr mc:repeatable>
                                                                  <td style="border-collapse:collapse; border-top:1px solid #ddd;border-bottom:0;color:#202020;font-family:Helvetica;font-size:12px;font-weight:bold;line-height:150%;text-align:left" valign="top" class="dataTableContent" mc:edit="data_table_content00">
                                                                    [client.user]
                                                                  </td>
                                                                  <td style="border-collapse:collapse; border-top:1px solid #ddd;border-bottom:0;color:#202020;font-family:Helvetica;font-size:12px;font-weight:bold;line-height:150%;text-align:left" valign="top" class="dataTableContent" mc:edit="data_table_content01">
                                                                    [client.pass]
                                                                  </td>
                                                              </tr>
                                                          </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-collapse:collapse; background-color:#fff" valign="top" class="bodyContent">
                                                            <div mc:edit="std_content01" style="color:#999;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
                                                                <strong>Importante:</strong> Para utilização da sua conta, será necessária a <u>ativação</u> através do link disponibilizado abaixo ou acesse a seguinte URL: <a href="[activation.location]" style="color:#369;font-weight:normal;text-decoration:underline">[activation.location]</a>.
                                                            </div>
														</td>
                                                    </tr>
                                                    <tr>
                                                    	<td style="border-collapse:collapse;   padding-top:0;" align="center" valign="top">
                                                        	<table border="0" cellpadding="15" cellspacing="0" class="templateButton" style="-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#369;border:0;border-collapse:separate!important;border-radius:3px">
                                                            	<tr>
                                                                	<td style="border-collapse:collapse" valign="middle" class="templateButtonContent">
                                                                    	<div mc:edit="std_content02">
                                                                        	<a href="[activation.location]" target="_blank" style="color:#fff;font-family:Arial;font-size:15px;font-weight:bold;letter-spacing:-.5px;line-height:100%;text-align:center;text-decoration:none">Ativar Cadastro</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td style="border-collapse:collapse" align="center" valign="top">
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color:#fff;border-top:0">
                                    	<tr>
                                        	<td style="border-collapse:collapse" valign="top" class="footerContent">
                                            
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="border-collapse:collapse" valign="top">
                                                            <div mc:edit="std_footer" style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center">
																<em>Copyright &copy; 2012 [site.url]<br />All rights reserved.</em>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>