<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <!-- Facebook sharing information tags -->
        <meta property="og:title" content="*|MC:SUBJECT|*" />
        
        <title>*|MC:SUBJECT|*</title>
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width:100%!important; -webkit-text-size-adjust:none; margin:0;padding:0; background-color:#fafafa">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="height:100%!important;margin:0;padding:0;width:100%!important;background-color:#fafafa">
            	<tr>
                	<td style="border-collapse:collapse;   padding-top:20px;" align="center" valign="top">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border:1px solid #ddd; background-color:#fff">
                        	<tr>
                            	<td style="border-collapse:collapse" align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color:#fff;border-bottom:0">
                                        <tr>
                                            <td style="border-collapse:collapse;color:#202020;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle;    text-align: right" class="headerContent">
                                            
                                            	<img src="[logo.location]" alt="" style="border:0;height:auto;line-height:100%;outline:0;text-decoration:none;margin: 20px;" />
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td style="border-collapse:collapse" align="center" valign="top">
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td style="border-collapse:collapse" valign="top">
                                
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="border-collapse:collapse; background-color:#fff" valign="top" class="bodyContent">
                                                            <div mc:edit="std_content00" style="color:#999;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
                                                                <h4 class="h4" style="color:#999;display:block;font-family:Arial;font-size:22px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">Cadastro [site.name]</h4>
                                                                Prezado(a) <strong>[site.name]</strong>, você recebeu uma nova mensagem.
                                                            </div>
														</td>
                                                    </tr>
                                                    <tr>
                                                    	<td style="border-collapse:collapse; padding-top:0; padding-bottom:0;" valign="top">
                                                          <table border="0" cellpadding="10" cellspacing="0" width="100%" class="templateDataTable" style="background-color:#fff;border:1px solid #ddd">
                                                              <tr mc:repeatable>
                                                                  <td style="border-collapse:collapse; border-top:1px solid #ddd;border-bottom:0;color:#202020;font-family:Helvetica;font-size:12px;font-weight:bold;line-height:150%;text-align:left" valign="top" class="dataTableContent" mc:edit="data_table_content01">
                                                                    [msg.text]
                                                                  </td>
                                                              </tr>
                                                          </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        	<tr>
                            	<td style="border-collapse:collapse" align="center" valign="top">
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color:#fff;border-top:0">
                                    	<tr>
                                        	<td style="border-collapse:collapse" valign="top" class="footerContent">
                                            
                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="border-collapse:collapse" valign="top">
                                                            <div mc:edit="std_footer" style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center">
																<em>Copyright &copy; 2012 [site.url]<br />All rights reserved.</em>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>